html { touch-action: none; }

*{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}

.aligner_cell {
  border: 1px #CCC dashed;
  padding: 2px;
}

.aligner_curr {
  border: 1px #CCC dashed;
  background-color: bisque;
  padding: 2px;
}